#LangChain Core
Langchain
Langchain-core
langchain-community


#Groq 
Langchain-groq

#Environment variable Management
python-dotenv

#streamlit
streamlit


pypdf
pypdf

unstructured
pdfminer.six
unstructured_pytesseract
unstructured_inference

langchain-huggingface
sentence-transformers